@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
#back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.text {
    color: white;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans Condensed', sans-serif;
   font-size: 150px;
} 


nav {
    width: 100%;
    height: 70px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content:left;
    align-items: center ;
    transition: 0.5s;
    
    
}
ul li {
    list-style: none;
}
ul {
    display: flex;
    cursor: pointer;
}
li {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    margin: 50px;
}
li:hover {
    color: white;
}
input[type="checkbox"] {
position: absolute;
width: 60px;
height: 60px;
z-index: 1;
margin-left: 20px;
margin-top: 20px;
visibility: hidden;
}
.mask { 
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgb(180, 43, 25);
    z-index: 2;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
    visibility: hidden;
    pointer-events: none;
    

}
input[type="checkbox"]:checked ~ nav {
    transform: translateY(0px);
}
@media (max-width:818px ) {
nav {
     transform: translateY(-900px);
    height: 100vh;   
}
input[type="checkbox"], .mask{
    visibility: visible;
}
ul {
    display: block;
}
li { 
   font-size: 40px;
   padding: 20px;
}

}